.item {
  &__link {
    display: grid;
    row-gap: rem(10);
    position: relative;
    grid-template-rows: min-content 1fr;
    height: 100%;
  }

  &__info {
    display: grid;
    gap: rem(10);
    grid-template-rows: min-content 1fr;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
    align-self: end;
  }

  &__name {
    align-self: start;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: grid;
    row-gap: rem(20);
  }

  &__img {
    width: 100%;
    padding-bottom: 134%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    p {
      position: absolute;
      top: 50%;
    }

    &-wrapper {
      position: relative;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.7);
      position: absolute;
      top: 0;
      z-index: 10;
      background-image: url('../img/icons/eye.svg');
      background-size: 40px;
      background-position: center center;
      background-repeat: no-repeat;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all ease;
    }

    @include hover {
      &::before {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__item {
    overflow: hidden;
  }
}
