<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="logo">Movie App</a>
      <form class="form header__form">
        <div class="form__inputs">
          <input
            type="search"
            class="form__search input-reset"
            placeholder="Search..."
          />
          <button type="submit" class="form__btn"></button>
        </div>
        <div class="form__results"></div>
      </form>
    </div>
  </div>
</header>
